<!DOCTYPE html>
<html>
<head>
  <title>Ninetyninecats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if @current_user %>
	<form action="<%= session_url %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Log Out">
	</form>
	<% end %>
<p><%= flash[:status] %></p>

<%= yield %>

<br>
<a href=" <%= new_cat_rental_request_url %> ">Rent a Cat Meow! </a>
</body>
</html>
